body {
    background-color:#f3f3f5;
    font-family: Arial, Helvetica, sans-serif;
}

.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.app-section {
    background: #FFFFFF;
    border: 1px solid #ccc;
    width: 964px;
    padding: 15px 10px;
    border-radius: 4px;
}

.app-section, .app-navbar {
    margin: 5px;
}
  
.app-content {
    flex-direction: row;
    display: flex;
    max-width: 990px;
    margin: 20px auto;
}